<!DOCTYPE html>
<html>
  <head>
    <title>Stitchifier</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag 'pattern-bundle' %>
    <%= stylesheet_pack_tag 'pattern-bundle' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kay+Pho+Du&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
